.add-item-form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.Add-item {
	background-color: transparent;
	color: var(--color-red);
	border: 2px solid var(--color-red);
	padding: 8px 12px;
	border-radius: 5px;
	height: 50px;
	width: 200px;
	margin-inline: auto;
	margin-top: 10px;
}

.add-item-form input[type='text'] {
	outline: none;
	width: 100%;
	height: 48px;
	padding: 12px 20px;
	margin: 8px 0;
	border-radius: 20px;
	outline: none;
	border: var(--color-white);
}

.soon-label {
	border: 2px solid var(--color-yale-blue);
	background-color: var(--color-yale-blue);
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 48px;
	padding: 10px 12px;
	color: var(--color-white);
}

.kind-of-soon-label {
	border: 2px solid var(--color-tomato);
	background-color: var(--color-tomato);
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: var(--color-white);
	height: 48px;
	padding: 10px 12px;
}

.not-soon-label {
	border: 2px solid var(--color-sienna);
	background-color: var(--color-sienna);
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: var(--color-white);
	height: 48px;
	padding: 10px 12px;
}

input[type='radio'] {
	margin: 0;
	margin-right: 8px;
}

input[type='radio'] + label {
	width: 100%;
}
/* here are the active styling */
.active-radio-btn--soon {
	background-color: hsla(211, 87%, 25%, 0.2);
	color: var(--color-text);
}
.active-radio-btn--kind-of-soon {
	background-color: hsla(10, 94%, 60%, 0.2);
	color: var(--color-text);
}
.active-radio-btn--not-soon {
	background-color: hsla(11, 79%, 32%, 0.2);
	color: var(--color-text);
}
