.listContent {
	margin-top: 4rem;
}

.listContainer {
	margin: 1rem 0.5rem;
}

.search {
	/* position: relative; */
	display: flex;
	align-items: center;
}
.search-icon {
	position: absolute;
	left: 1rem;
	top: 1.65rem;
	z-index: 1000;
	margin-right: 10px;
	color: rgb(177, 177, 177);
}
.search input {
	background-color: white;
	border: none;
	width: 100%;
	height: 5rem;
	border-radius: 10px;
	padding: 0 4rem;
	font-size: 18px;
	color: black;
}
.search input:focus {
	outline: none;
	border: none;
}

::placeholder {
	font-size: 16px;
	color: rgb(161, 160, 160);
}

.Empty-shopping-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
}
.Empty-shopping-list__add-item {
	background-color: var(--color-sunglow);
	border: none;
	border-color: transparent;
	border-radius: 10px;
	color: var(--color-gray-dark);
	display: grid;
	font-size: 18px;
	height: 48px;
	max-width: 180px;
	place-items: center;
	text-decoration: none;
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.Empty-shopping-list__add-item:hover {
	background-color: transparent;
	border: 2px solid var(--color-sunglow);
}
