:root {
	--color-black: hsla(0, 0%, 0%, 1);
	--color-gray-dark: hsla(330, 2%, 19%, 1);
	--color-gray: hsla(0, 0%, 0%, 0.44);
	--color-white: hsla(0, 0%, 100%, 0.8);
	--color-beige: hsla(60, 38%, 87%, 1);
	--color-sandy-brown: hsla(28, 83%, 61%, 1);
	--color-sunglow: hsla(40, 100%, 67%, 1);
	--color-yale-blue: hsla(211, 87%, 25%, 1);
	--color-sienna: hsla(11, 79%, 32%, 1);
	--color-red: hsl(0, 68%, 42%);
	--color-tomato: hsla(10, 94%, 60%, 1);

	--color-accent: var(--color-yale-blue);
	--color-bg: var(--color-beige);
	--color-bg-well: var(--color-gray-dark);
	--color-error: var(--color-sienna);
	--color-text: var(--color-black);
	--color-border: var(--color-gray);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	position: relative;
}

/**
 * Make sure the app fills the height of the viewport
 */
html,
body,
#root,
#root > * {
	min-height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	padding: 0;
}

h1 {
	font-size: 2.4em;
	color: var(--color-black);

	@media (min-width: 900px) {
		font-size: 3em;
	}
}
input {
	background-color: var(--color-white);
	color: black;
}
.message,
span {
	font-size: 15px;
	color: var(--color-red);
	text-transform: capitalize;
}
